body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

header {
	/* height: 10%; */
	font-weight: 700;
	/* position: fixed; */
}

.menubar {
	position: fixed;
	width: 100%;
}

.header-menu a:hover {
	color: #92d050;
}

#header-menu-logo {
	width: 215px;
	margin-right: 35px;
	margin-top: 7px;
}

main {
	height: 1200px;
	background-color: cornflowerblue;
}

.footer-top {
	background-color: aqua;
	height: 400px;
}

.footer-middle {
	background-color: hotpink;
	height: 180px;
}

#footer-swoosh {
	width: 100%;
}

.footer-bottom {
	background-color: #000033;
	height: 200px;
}

.footer-bottom-container {
	padding: 30px 30px 25px;
}

.footer-bottom-menu {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.footer-bottom-menu li {
	margin: 10px;
}

.footer-bottom-menu a {
	color: white;
	text-decoration: none;
}

.footer-bottom-logo {
	width: 233px;
}

