body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

header {
	/* height: 10%; */
	font-weight: 700;
	/* position: fixed; */
}

.menubar {
	position: fixed;
	width: 100%;
}

.header-menu a:hover {
	color: #92d050;
}

#header-menu-logo {
	width: 215px;
	margin-right: 35px;
	margin-top: 7px;
}

main {
	height: 1200px;
	background-color: cornflowerblue;
}

main img {
	width: 100%;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.section-2 {
	text-align: center;
	background-color: white;
	padding: 60px 30px 45px;
}

.section-2 h1 {
	color: #2b7051;
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 30px;
	line-height: 1.2;
	letter-spacing: 0.1em;
}

.section-2 h2 {
	color: #2f3233;
	font-size: 4.375rem;
	font-weight: 700;
	margin-bottom: 30px;
}

.section-2 p {
	color: #2f3233;
	max-width: 600px;
	margin-bottom: 1em;
	font-size: .938rem;
}

.footer-top {
	background-color: aqua;
	height: 400px;
}

.footer-middle {
	background-color: hotpink;
	height: 180px;
}

#footer-swoosh {
	width: 100%;
}

.footer-bottom {
	background-color: #000033;
	height: 200px;
}

.footer-bottom-container {
	padding: 30px 30px 25px;
}

.footer-bottom-menu {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.footer-bottom-menu li {
	margin: 10px;
}

.footer-bottom-menu a {
	color: white;
	text-decoration: none;
}

.footer-bottom-menu a:hover {
	color: #2b7051;
	text-decoration: none;
}

.footer-bottom-logo {
	width: 233px;
}

